{
  "Entries": [
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "http://localhost:50342/oauth2/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "Metadata": "true"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002282c-dhfAe7ALsmO0IeYLbeExCAlJGH8\u0022"
      },
      "ResponseBody": {
        "access_token": "Sanitized",
        "refresh_token": "Sanitized",
        "expires_in": "3900",
        "expires_on": "1576669413",
        "not_before": "1576665513",
        "resource": "https://vault.azure.net",
        "token_type": "Bearer"
      }
    },
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/7eb9f2488300498b8695d6dc6c6cdf83",
        "attributes": {
          "enabled": true,
          "created": 1576100636,
          "updated": 1576100636,
          "recoveryLevel": "Purgeable"
        },
        "tags": {
          "file-encoding": "utf-8"
        }
      }
    }
  ],
  "Variables": {
    "IDENTITYTEST_CLOUDSHELLHOST_ENABLE": "true",
    "IDENTITYTEST_CLOUDSHELLHOST_SYSTEMASSIGNEDVAULT": "https://aiimdssavault.vault.azure.net/",
    "RandomSeed": "1721296109"
  }
}