{
  "Entries": [
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01\u0026resource=https%3A%2F%2Fvault.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "access_token": "Sanitized",
        "client_id": "e01dc05f-d1ad-4937-9354-4253a70ede84",
        "expires_in": "28799",
        "expires_on": "1576692283",
        "ext_expires_in": "28799",
        "not_before": "1576663183",
        "resource": "https://vault.azure.net",
        "token_type": "Bearer"
      }
    },
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/7eb9f2488300498b8695d6dc6c6cdf83",
        "attributes": {
          "enabled": true,
          "created": 1576100636,
          "updated": 1576100636,
          "recoveryLevel": "Purgeable"
        },
        "tags": {
          "file-encoding": "utf-8"
        }
      }
    }
  ],
  "Variables": {
    "IDENTITYTEST_VMHOST_ENABLE": "true",
    "IDENTITYTEST_VMHOST_SYSTEMASSIGNEDVAULT": "https://aiimdssavault.vault.azure.net/",
    "RandomSeed": "801345529"
  }
}